[mysqld]
character-set-server = utf8mb4

collation-server = utf8mb4_unicode_ci

default-time-zone = 'Asia/Tokyo'
root@bd0e1a1a746c:/var/www# artisan make:model Contact -m
bash: artisan: command not found